html {
  overflow-y: scroll;
}
body{
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
*/
  
/* to remove spin scroll on number field start*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
/* to remove spin scroll on number field end*/


.work_sublet_style{
position: relative;
background: #bfbfbf5e;
margin: 0% 10%;
padding: 10px;
border: 1px solid;
}
.radio_border{
	border: 1px solid red;
	
}
section{
	/*padding-top: 10px;*/
}
.radio_title{
	padding-right: 10px;
	padding-left: 5px;
}
.radio_group{
	margin-bottom: 17px;
}
.item_flex{
	display: flex;
}
.checkbox_custom{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.sw-container{
	min-height: auto !important;
}
.err2{
	color: red;
}
.invalid{
	border:1px solid red;
}
.valid{
	border:1px solid ;
}
.form-group{
	margin-bottom: 5px !important;
}

/*** Loader start ***/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #87b3e6; /* Light blue */
  border-right: 16px solid #87b3e6; /* Light blue */
  border-bottom: 16px solid #87b3e6; /* Light blue */
  border-left: 16px solid white; /* Light white */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 2000;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*** Loader end ***/
.hmm_sections,.noc5_sections,.pfs_sections{
	margin-bottom: 5px;
	border-bottom: 1px solid green;
	padding:5px 10px;
	border-left: 3px solid rosybrown;
}
.towf_sections{
	padding-bottom: 1%;
}
.optionalBox {
	border-left: 2px solid orange;
	padding-left: 5px;
	margin-left: 20px;
}
.nestedBox{
	border-left: 2px solid green;
	padding-left: 5px;
	margin-left: 20px;
}

.nested2Box{
	border-left: 2px solid blue;
	padding-left: 5px;
	margin-left: 30px;
}
.nested3Box{
	border-left: 2px solid red;
	padding-left: 5px;
	margin-left: 40px;
}

.legalHeader{
	color: #3299bb;
}

#priceBox{
	padding: 20px;
}
.totalRow{
	background-color: #cfcecc;
}

#finishUpper,#finishLower{
	float: right;
}

.rowHover  tr:hover{
	background-color: #f5edd7;
}

.rowHover:hover{
	-webkit-box-shadow: 7px 7px 28px -3px rgba(0,0,0,0.71);
	-moz-box-shadow: 7px 7px 28px -3px rgba(0,0,0,0.71);
	box-shadow: 7px 7px 28px -3px rgba(0,0,0,0.71);
}

.rowHover td{
	word-wrap: anywhere;
}

/*Hide previous button on load*/
.sw-btn-prev{
	display: none;
}

.dirArrow{
	padding: 0 10px;
	font-size: 30px;
	cursor: pointer;
}
.dirArrow:hover{
	background-color: silver;
}
.zeroPadding{
	padding: 0 !important;
	width: auto; /*200px;*/
	float: right;
}

#backToForm,#closeWindow{
	cursor: pointer;
	background:#ebdfbe;
	padding: 10px;
	border: 1px solid;
}
#backToForm:hover,#closeWindow:hover{
	background:#f7bd1e;
}
.modal-footer{
	bottom: 0px !important;
}
.hideStep{
	display: none;
}
.showStep{
	display: block;
}
.iconPadding{
	margin-top: 20%;
	margin-left: 40%;
}

.subformSection{
	padding: 5px 20px; 
	margin-left: 20px;
	border-left: 2px solid #ff0ac2;
	width: 100%;
}

#equipmentScheduleTable input{
	width: 100%;
	box-sizing: border-box;
}

.setGreenText{
	color: green;
}

.subFormLabel{
	cursor: pointer;
}
.subFormLabel:hover{
	color: #0ba140;
}
.hideLabel{
	display: none;
}

.header5{
	color: white; 
	background-color: #b2bed1;
	text-align: center;
	padding:5px;
}
.opsWorkPerformed{
	border: 1px solid;
	background: #e8e8e8;
	padding: 1%;
	margin-bottom: 5px; 
}



/** DARK MODE CSS START **/

.dark,
.dark body , .dark #rtq_forms, .dark .step-content, .dark .form-control, .dark .rowHover{
    background-color: #222;
    color: #e6e6e6;
}

.dark .logo{
	background: #ffffff63;
}

/* OPTGROUP IN PROVINCE */
.dark optgroup{
	color: black;
}
.dark select option{
	background-color: #605e5e8c  !important;
	color: #e6e6e6;
}

.dark .frontAutText{
	background-color: black;
}

.dark .step-anchor{
	background-color: grey !important;
}
.dark .step-anchor li a{
	color:black !important;
}
/*.dark .step-anchor li > a::before{
	background-color: grey !important;
	color:white !important;
	border-left:1px solid white !important;
}
.dark .step-anchor li > a::after{
	background-color: grey !important;
	color:white !important;
	border-left:1px solid grey !important;
}*/
/* REVIEW TABLE */
.dark .rowHover  tr:hover{
	color: black;
	background-color: #9b9b9b;
}

.dark .rowHover:hover{
	-webkit-box-shadow: 7px 7px 28px -3px rgba(255,255,255,0.71);
	-moz-box-shadow: 7px 7px 28px -3px rgba(255,255,255,0.71);
	box-shadow: 7px 7px 28px -3px rgba(255,255,255,0.71);
}

.dark .opsWorkPerformed{
	border: 1px solid;
	background: grey;
	padding: 1%;
	margin-bottom: 5px; 
	color: #e6e6e6;
}
.dark .opsWorkPerformed button{
	border: 1px solid black;
}

.dark #tabs{
	background-color: #222;
}
.dark .ui-widget-content{
	color: #e6e6e6 !important;
}
.dark .ui-widget-content table{
	color: #e6e6e6 !important;
	background-color: #666 !important;
}
.dark .ui-widget-content table td input{
	background-color: #222 !important;
    color: #e6e6e6 !important;
}

.dark .header5{
	background-color: #5a6d8a;
}

.dark #backToForm, .dark #closeWindow{
	color: black;
	border-color: black;
}

.dark #bindMsg{
	color : white !important;
}

.dark #priceBox table{
	color: #e6e6e6 !important;
}
.dark #priceBox table .totalRow{
	background-color: #6f6f6f !important;
}
/** DARK MODE CSS END **/